$backgroundColor: #343a40;
$buttonBackgroundPrimary: #007bff;
$buttonBackgroundPrimaryHover: #007bdd;
$buttonBackgroundDanger: #cc006b;
$buttonBackgroundDangerHover: #bb006b;

@mixin borderBox {
  border-radius: .5rem;
  border: 1px solid gray;
  padding: 0.25rem;
  margin: 0.25rem;
}
@mixin primary-btn {
  border: none;
  border-radius: .25rem;
  background: $buttonBackgroundPrimary;
  color: white;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Kdam Thmor Pro', sans-serif;
}
@mixin danger-btn {
  border: none;
  border-radius: .25rem;
  background: $buttonBackgroundDanger;
  color: white;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Kdam Thmor Pro', sans-serif;
}