@import "config";
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Kdam Thmor Pro', sans-serif;
}
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $backgroundColor;
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5vw 10vw;

  &__brand {
    font-size: 1.25rem;
    font-weight: bold;
  }

  &__visualize-btn {
    @include primary-btn;
    height: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    &:hover {
      background: $buttonBackgroundHover;
      cursor: pointer;
    }
  }
}

.subheader {
  padding: 0.5vw 10vw;
  border-top: 1px solid white;
  border-bottom: 1px solid white;

  &__tree-options {
    display: flex;
    gap: 1rem;
  }
}

.visualizer {
  padding: 0.5vw 10vw;
  flex-grow: 1;
}

.footer {
  padding: 0.5vw 10vw;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;

  &__git-link {
    @include primary-btn;
    text-decoration: none;
    font-family: 'Kdam Thmor Pro', sans-serif;

    &:hover {
      background: $buttonBackgroundHover;
      cursor: pointer;
    }
  }

  &__dev-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
}