@import "config";
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Kdam Thmor Pro', sans-serif;
}
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $backgroundColor;
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5vw 10vw;

  &__brand {
    font-size: 1.25rem;
    font-weight: bold;
  }

  &__buttons {
    &__visualize-btn {
      @include primary-btn;
      height: 2.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      &:hover {
        background: $buttonBackgroundPrimaryHover;
        cursor: pointer;
      }
    }
    &__reset-btn{
      @include danger-btn;
      height: 2.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      margin-left: 0.5rem;

      &:hover {
        background: $buttonBackgroundDangerHover;
        cursor: pointer;
      }
    }
  }
}

.subheader {
  padding: 0.5vw 10vw;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;

  &__tree-options {
    display: flex;
    gap: 1rem;
  }

  &__keys {
    &__item {
      @include borderBox;
    }

    .inserted {
      background: gray;
    }
  }
}

.visualizer {
  padding: 0.5vw 10vw;
  flex-grow: 1;

  &__bst {

  }

  .message {
    @include borderBox;
    background: gray;
  }

  .row {
    display: flex;
    justify-content: center;
    margin-top: 2vw;

    .cell {
      flex-grow: 1;
      height: 2rem;
      //border: 1px solid black;
      display: flex;
      justify-content: center;

      .node {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        background: gray;
        display: flex;
        justify-content: center;
        align-items: center;

        &__bf {
          position: absolute;
          font-size: 0.75rem;
          color: white;
          transform: translateY(1.5rem);
        }
        .red {
          color: orangered;
        }
      }
      .node-link {
        margin: 0;
        width: 1px;
        border-radius: 0;
        border: none;
        background-color: white;
      }
    }
  }
}

.footer {
  padding: 0.5vw 10vw;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;

  &__git-link {
    @include primary-btn;
    text-decoration: none;
    font-family: 'Kdam Thmor Pro', sans-serif;

    &:hover {
      background: $buttonBackgroundPrimaryHover;
      cursor: pointer;
    }
  }

  &__dev-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
}