@import "config";

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $backgroundColor;
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1vw 10vw;

  &__brand {
    font-size: 1.25rem;
    font-weight: bold;
  }

  &__visualize-btn {
    border: none;
    border-radius: .25rem;
    background: $buttonBackground;
    color: white;
    height: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.subheader {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}